<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Vue</title>
    <link rel="stylesheet" href="style.css">


</head>
<body>

    <header>
        <h1>Vue Course Goals</h1>
    </header>

    <section id="user-goal">
        <h2>My Course Goal</h2>
        <!-- <p v-html="output()"></p> -->
         <p>{{ output() }}</p> 
         <p>Learn more <a v-bind:href="vueLink">About Vue</a></p> 
        
         <h2>Events in Section</h2>
        <!-- <button v-on:click="add(10)">Add 10</button> -->
        <button @click="add(10)">Add 10</button>
        <!-- <button v-on:click.right="reduce(5)">Remove</button> -->
        <button @click.right="reduce(5)">Remove</button>
        <p v-once>Starting Counter: {{ counter }}</p>
        <p>Result: {{ counter }}</p>
        Enter Name: F <input type="text" v-model="name">
         L <input type="text" v-model="lastname">
        <button v-on:click="resetInput">Reset Input</button>
        <p>Your Name: {{ fullName }}</p>

        <form action="">


            
        </form>

    </section>
    
</body>
<script src="https://unpkg.com/vue@next" defer></script>
<script src="app.js" defer></script>
</html>